# Ignore buffer files
*.cache
*.tmp
*.log

# Ignore Python compiled files
__pycache__/
*.py[cod]
*.pyc
# Ignore text file
*.txt

/Users/cicilian/Desktop/CS211/FinalProjectCS211/multiagent-particle-envs/Pistonball/tmp/maddpg*